* {
    box-sizing: border-box;
}

header {
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-gap: 16px;
    justify-content: center;
    padding: initial;
}

.search-container {
    margin: 0 auto;
    width: 1200px;
}

.search-pagination {
    width: 350px;
    margin: 0 auto;
}

.settings-wrapper {
    display: flex;
    align-items: flex-end;
}