* {
    box-sizing: border-box;
  }
  
  header {
    background-color: rgb(241, 168, 168);
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
  }
  
  main {
    background-color: rgb(4, 163, 147);
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }
  
  .search {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: transparent;
    border: solid 2px rgb(118, 247, 234);
    font-family: inherit;
    color: white;
  }
  
  .search::placeholder {
    color: azure;
  }
  
  .search {
    background-color: #2224b2;
    outline: none;
  }