.search {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: transparent;
    border: solid 2px rgb(118, 247, 234);
    font-family: inherit;
    color: white;
}

.search::placeholder {
    color: azure;
}

.search {
    background-color: #2224b2;
    outline: none;
}

.genres-group .slds-form-element__control {
    display: -webkit-box;
    display: flex !important;
}

:host {
    --sds-c-checkbox-color-background-checked: green;
    --sds-c-checkbox-mark-color-foreground: yellow;
}

.from-to-input__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.from-to-input__input-item {
    height: 100%;
    max-height: 100%;
}

.from-to-input__to-item {
    height: 100%;
    padding: 5px;
}

.filters {
    background-color: white;
    padding: 2rem;
    max-height: 100%;
    display: flex;
    border-radius: 5px;
    width: 100%;
    margin: auto;
}

.filter-icon {
    cursor: pointer;
}

.slide-up {
    overflow: hidden;
}
.slide-up > lightning-layout,
.slide-down > lightning-layout {
    margin-top: -100%;
    transition: margin-top 0.5s ease-in-out;
}
.slide-down > lightning-layout {
    margin-top: 0;
}

.slide-down {
    margin-top: 10px;
    overflow: initial;
    animation: 1.5s delay-overflow;
}

@keyframes delay-overflow {
    from {
        overflow: hidden;
        margin-top: 0px;
    }
}

lightning-input.slds-form-element__help {
    position: absolute;
}

.slds-has-error .slds-form-element__help {
    position: absolute;
}

.advanced-search-btn {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}
